.Welcome{
    font-size: 20px;
    margin-top: 11%;
    margin-left: 5%;
}
@media (max-width:375px) {
    .Welcome{
        text-align: center;
    }
}
@media (max-width:600px) {
    .Welcome{
        text-align: center;
    }
}