.abt{
    display: grid;
    grid-template-columns:5rem 20rem 20rem 20rem 20rem  5rem;
    background-color: aliceblue;
    text-align: center;
    height: 460px;
}
.project{
    grid-column: 2/3;
}

.Welcomee{
    font-size: 40px;
    margin-top: 8%;
    text-align: center;
}
.text_dd{
    display: grid;
}
.exper{
    margin-left: 15%;
    font-size: 30px;
    /* background-color: aliceblue; */
}
.experi{
    margin-left: 3%;
    font-size: 20px;
}